In [ ]:


from db.db import SQLiteSingleton

dbfile = "base_bacen.sqlite"
db = SQLiteSingleton(dbfile)

df = db.read_dataframe("scr")

In [42]:
df.head()

,chave_cpf,data_consulta_dado_bacen,codigo_modalidade_operacao,valor_credito_vencer_ate_30_dia,valor_credito_vencer_31_60_dia,valor_credito_vencer_61_90_dia,valor_credito_vencer_acima_90_dia,valor_credito_vencido_15_30_dia,valor_credito_vencido_31_60_dia,valor_credito_vencido_61_90_dia,valor_credito_vencido_acima_90_dia
0,16995749332,2022-07,204,45.24,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,16995749332,2022-08,1304,3640.77,1257.52,1538.4,1015.28,0.0,0.0,0.0,0.0
2,16997816780,2022-07,210,203.6,666.31,58.43,1977.26,0.0,1062.02,0.0,0.0
3,16997816780,2022-08,210,37.48,291.71,91.9,482.06,0.0,0.0,229.21,0.0
4,16997816780,2022-08,1304,6267.32,2583.3,1387.72,5978.6,0.0,0.0,0.0,0.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272619 entries, 0 to 272618
Data columns (total 11 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   chave_cpf                           272619 non-null  object
 1   data_consulta_dado_bacen            272619 non-null  object
 2   codigo_modalidade_operacao          272619 non-null  object
 3   valor_credito_vencer_ate_30_dia     272619 non-null  object
 4   valor_credito_vencer_31_60_dia      272619 non-null  object
 5   valor_credito_vencer_61_90_dia      272619 non-null  object
 6   valor_credito_vencer_acima_90_dia   272619 non-null  object
 7   valor_credito_vencido_15_30_dia     272619 non-null  object
 8   valor_credito_vencido_31_60_dia     272619 non-null  object
 9   valor_credito_vencido_61_90_dia     272619 non-null  object
 10  valor_credito_vencido_acima_90_dia  272619 non-null  object
dtypes: object(11)
memory usage: 22.9+ MB

In [44]:
print(df.codigo_modalidade_operacao.unique())

['204' '1304' '210' '218' '203' '202' '213' '101' '499' '406']

In [46]:
print(df.data_consulta_dado_bacen.unique())

['2022-07' '2022-08' '2022-06']

In [26]:
## a modalidade 203 não aparenta estar na documentação, visto que temos uma tabela de-para com 9 linhas e 10 códigos de modalidade de operação únicos

## Via da planilha xls SCR3040

df.loc[df.codigo_modalidade_operacao == '203']

,chave_cpf,data_consulta_dado_bacen,codigo_modalidade_operacao,valor_credito_vencer_ate_30_dia,valor_credito_vencer_31_60_dia,valor_credito_vencer_61_90_dia,valor_credito_vencer_acima_90_dia,valor_credito_vencido_15_30_dia,valor_credito_vencido_31_60_dia,valor_credito_vencido_61_90_dia,valor_credito_vencido_acima_90_dia
10,16997816780,2022-08,203,0.0,9.24,4.78,2056.18,0.0,0.0,0.0,0.0
20,17004617973,2022-08,203,73.66,183.16,292.66,752.56,370.31,139.36,354.38,103.53
21,17004617973,2022-06,203,264.79,29.86,264.79,308.59,87.6,147.33,224.97,131.4
31,17004617973,2022-07,203,386.23,328.5,185.15,844.14,45.79,35.84,215.02,382.27
55,17028309629,2022-07,203,18.54,875.65,1255.17,11733.95,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
272577,60664605413,2022-08,203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1672.77
272578,60664605413,2022-06,203,213.47,141.19,214.76,689.78,0.0,0.0,210.01,3128.76
272584,60664605413,2022-07,203,62.32,269.53,174.95,1110.29,0.0,0.0,0.0,163.88
272608,60681943704,2022-08,203,825.9,51.56,1570.46,10701.64,nan,497.13,160.53,3838.28
272610,60681943704,2022-07,203,2477.07,1442.94,965.2,7402.34,234.21,239.68,577.74,1447.34

In [39]:
## Checa se para alguma coluna existem valores não-numéricos

for col in df.columns:
    #print(col)
    print(col, (df[col].isna()).sum())

chave_cpf 0
data_consulta_dado_bacen 0
codigo_modalidade_operacao 0
valor_credito_vencer_ate_30_dia 0
valor_credito_vencer_31_60_dia 0
valor_credito_vencer_61_90_dia 0
valor_credito_vencer_acima_90_dia 0
valor_credito_vencido_15_30_dia 0
valor_credito_vencido_31_60_dia 0
valor_credito_vencido_61_90_dia 0
valor_credito_vencido_acima_90_dia 0

In [38]:
# De acordo com a tabela anterior, existem valores não-numéricos NaN na tabela. Como o schema foi escrito em forma de texto, checarei essa condição
for col in df.columns:
    #print(col)
    print(col, (df[col] == 'nan').sum())

chave_cpf 0
data_consulta_dado_bacen 0
codigo_modalidade_operacao 0
valor_credito_vencer_ate_30_dia 0
valor_credito_vencer_31_60_dia 0
valor_credito_vencer_61_90_dia 0
valor_credito_vencer_acima_90_dia 0
valor_credito_vencido_15_30_dia 13272
valor_credito_vencido_31_60_dia 0
valor_credito_vencido_61_90_dia 0
valor_credito_vencido_acima_90_dia 0

In [50]:
## Existem valores Nulos no dataframe em formato de texto na coluna valor_credito_vencido_15_30_dia

df.loc[df['valor_credito_vencido_15_30_dia'] == 'nan'].head(10)

,chave_cpf,data_consulta_dado_bacen,codigo_modalidade_operacao,valor_credito_vencer_ate_30_dia,valor_credito_vencer_31_60_dia,valor_credito_vencer_61_90_dia,valor_credito_vencer_acima_90_dia,valor_credito_vencido_15_30_dia,valor_credito_vencido_31_60_dia,valor_credito_vencido_61_90_dia,valor_credito_vencido_acima_90_dia
34,17005881021,2022-07,202,199.55,459.92,18.94,642.12,nan,0.0,0.0,0.0
51,17026293863,2022-07,1304,833.56,2795.63,1455.02,5719.13,nan,0.0,0.0,0.0
76,17041764249,2022-08,1304,7413.22,0.0,0.0,0.0,nan,0.0,0.0,0.0
82,17043660557,2022-07,204,0.14,0.0,0.0,0.0,nan,0.0,0.0,0.0
104,17051236418,2022-06,204,1842.77,0.0,0.0,0.0,nan,0.0,0.0,0.0
112,17052103463,2022-06,218,0.0,0.0,0.0,0.0,nan,0.0,0.0,0.0
119,17053578530,2022-07,204,5874.14,0.0,0.0,0.0,nan,0.0,0.0,0.0
129,17053578530,2022-08,210,464.05,0.0,0.0,0.0,nan,0.0,0.0,0.0
150,17056480501,2022-08,210,7.71,26.13,13.65,40.19,nan,0.0,0.0,0.0
186,17083548139,2022-07,202,587.41,1139.83,373.44,45699.36,nan,0.0,0.0,0.0

In [49]:
df.loc[df['valor_credito_vencido_15_30_dia'] == 'nan'].groupby('codigo_modalidade_operacao')['chave_cpf'].count()

codigo_modalidade_operacao
101       90
1304    3998
202     1266
203     1787
204     2228
210     1551
213     1335
218      994
406        5
499       18
Name: chave_cpf, dtype: int64